.container{
    width: 100vw;
    height: 100vh;
    background: hsl(0, 0%, 59%)s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*container's background adjust*/
.container{
    background: url("./images/bg-pattern-top.svg") no-repeat right 50vw bottom 40vh,
    url("./images/bg-pattern-bottom.svg") no-repeat left 50vw top 40vh;
    background-color: hsl(185, 75%, 39%);
}

.up-pattern{
    display: flex;
    border-radius: 10px 10px 0 0;
}

section .up{
    border-radius: 30px;
}

.profile{
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.profile-picture{
    border: white solid 5px;
    border-radius: 50px;

    margin-top: -3.3rem;
}

.profile-name{
    color: hsl(229, 23%, 23%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;

    margin: 1.5em 0 1em 0;
}

.age{
    margin-left: 0.5em;
    font-size: 1.1em;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.profile-city{
    display: flex;
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;

    margin: -0.5em 0 2em 0;
}

.profile-stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: white;
    border-radius: 0 0 10px 10px;
    border-top: 0.1px solid #EEE9E9;
}

.profile-stats h2{
    color: hsl(229, 23%, 23%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
    padding-top: 2em;
}

.profile-stats p {
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    text-align: center;

    margin: 0.7em 0 2em 0;
    letter-spacing: 0.1em;
}